
   
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;

}

.parent {
  background: #1f2937;
    width: 31.25rem;
    height: 31.25rem;
    border-radius: 0.625rem;
    padding: 3.438rem;
}



.parent__title {
    color: #ffff;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 2.2rem, 0rem, 0rem, 0rem;
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    padding: 0;    
}

.parent__subtitle {
    color: #4ADF86;
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-top: 1.25rem;
    margin-bottom: 0.938rem;    
}

.parent__paragraph{
    color: #D5D4D8;
    font: normal;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 15px;
}

.parent__btn {
    font-family: 'Inter', sans-serif;
    font-size: .91rem;
    color: #ffff;
    background-color: #10B981;
    border-radius: 0.375em;
    border: none;
    height: 2.6em;
    width: 13em;
    margin-top: 1.875em;
    margin-bottom: 1.5em;
    font-weight: 500;
    padding: 0.635rem;
    
}
 
 .parent__break {
    border: 1px solid #2f3e53;
   
   } 



.child1 {
    display: flex;
    justify-content: space-between;
    margin-top: 2.813rem;   
   
    
}

.child1__btn {
color: #55f991;
background-color: #273549;
border-radius: 0.375em;
border: none;
height: 2.438em;
width: 11.25em;
font-family: 'Inter', sans-serif;
font-weight: 500;
cursor: pointer;
 display: flex;
 align-items: center;
justify-content: center;
    
}